body {
  margin: 0;
  height: 100%;
}

body {
  align-items: center;
  justify-content: center;
  color: #fff;
  display: flex;
  background: #03726f;
  flex-direction: column;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

input {
  padding: 0, 05px;
  font-size: 1em;
}

label {
  margin: 1em 0;
}

button {
  width: 200px;
  text-align: center;
  background: #fff;
  padding: 0.5em;
  font-size: 1em;
  border: 2px solid #1b1b15;
}

/*  */
.raddio {
  display: flex;

  label {
    margin-right: 1em;
  }
}

span {
  display: flex;
  flex-direction: column;
}
